.nl-modal {

	label {
		border: none;
		border-bottom: 1px solid #fff;

		span {
			color: #fff;
		}
	}

	input[type="text"], input[type="number"] {
		background: #324851;
		color: #fff;
	}

	.button-reflection {
		color: #fff;
		background: #7DA3A1;
	}

	form {
		.validation-group {
			margin: 50px 5px;

			.validation {
				color: #fff;
				font-weight: bolder;
				font-size: 1.4em;
				margin: 10px inherit;
			}
		}
	}

}
