<ion-modal-view class="nl-modal">
	<ion-header-bar class="bar-balanced">
	  <h1 class="title">Withdraw</h1>
	</ion-header-bar>
	<ion-content>
		<form name="withdrawForm" ng-submit="withdrawForm.$valid && vm.submit(withdrawForm)" novalidate>
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Mount</span>
			    <input type="number" name="mount" placeholder="0.0" min="0" ng-model="vm.mount" required="">
			  </label>
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Account
			    </div>
			    <select>
			      <option ng-repeat="account in accounts">{{account.name}}</option>
			    </select>
			  </label>
			</div>
			<div class="validation-group" ng-show="withdrawForm.$submitted && withdrawForm.$invalid">

				<p class="validation" ng-show="withdrawForm.mount.$error.required">
					* Please provide a mount.
				</p>

				<p class="validation" ng-show="withdrawForm.mount.$dirty && withdrawForm.mount.$error.min">
					* Mount must be a positive amount.
				</p>

				<p class="validation" ng-show="!withdrawForm.mount.$error.required && withdrawForm.mount.$dirty && !withdrawForm.mount.$error.min && withdrawForm.mount.$invalid">
					* Mount field has invalid character(s).
				</p>

			</div>
			<button class="button button-full button-reflection" ng-click="vm.close(withdrawForm)">Cancel</button>
			<button class="button button-full button-balanced" type="submit">Confirm</button>
		</form>
	</ion-content>
</ion-modal-view>