.Accounts {

	ion-content {
		background: #324851;
	}

	.card {
		cursor: pointer;
	}

	.item.item-avatar {

		i {
			position: absolute;
			top: 30%;
			right: 5%;

			&:hover {
				color: #888;
			}
		}

	}

}