.Accounts {

	.card {
		/* border-top: 3px solid #886aea; */
		cursor: pointer;
	}

	.item.item-avatar {

		i {
			position: absolute;
			top: 30%;
			right: 5%;

			&:hover {
				color: #888;
			}
		}

	}

}