<ion-modal-view class="add-account-modal">
	<ion-header-bar class="bar-balanced">
	  <h1 class="title">Create Account</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Account Name</span>
		    <input type="text" placeholder="Town" ng-model="vm.account.name">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Initial Bells</span>
		    <input type="text" placeholder="100,400" ng-model="vm.account.bells">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Income Percentage</span>
		    <input type="text" placeholder="30" ng-model="vm.account.portion">
		  </label>
		</div>
		<button class="button button-full button-reflection" ng-click="vm.closeModal()">Cancel</button>
		<button class="button button-full button-balanced" ng-click="vm.confirmAccountCreation()">Confirm</button>
	</ion-content>
</ion-modal-view>