<ion-modal-view class="nl-modal" ng-controller="AddAccountModalController as vm">
	<ion-header-bar class="bar-balanced">
	  <h1 class="title">Create Account</h1>
	</ion-header-bar>
	<ion-content>
		<form name="addAccount" ng-submit="addAccount.$valid && vm.submit(addAccount)" novalidate>
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Account Name</span>
			    <input type="text" name="accountName" placeholder="Town" ng-model="vm.account.name" required="">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Initial Bells</span>
			    <input type="number" name="bells" placeholder="100,400" min="0" ng-model="vm.account.bells" required="">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Income Share</span>
			    <input type="number" name="share" placeholder="30" min="0" max="100" ng-model="vm.account.share" nl-share accounts="accounts" required="">
			  </label>
			</div>
			<div class="validation-group" ng-show="addAccount.$submitted && addAccount.$invalid">
				
				<p class="validation" ng-show="addAccount.accountName.$error.required">
					* Please provide an account name.
				</p>

				<p class="validation" ng-show="addAccount.bells.$error.required">
					* Please provide an amount of bells.
				</p>

				<p class="validation" ng-show="addAccount.bells.$dirty && !addAccount.bells.$error.required && !addAccount.bells.$error.min && addAccount.bells.$invalid">
					* Initial Bells field has invalid character(s).
				</p>

				<p class="validation" ng-show="addAccount.bells.$dirty && addAccount.bells.$error.min">
					* Initial bells must be a positive amount.
				</p>

				<p class="validation" ng-show="addAccount.share.$error.required">
					* Please provide an income share.
				</p>

				<p class="validation" ng-show="addAccount.share.$dirty && !addAccount.share.$error.required && !addAccount.share.$error.min && !addAccount.share.$error.max && !addAccount.share.$error.nlShare && addAccount.share.$invalid">
					* Income Share field has invalid character(s).
				</p>

				<p class="validation" ng-show="addAccount.share.$dirty && addAccount.share.$error.min || addAccount.share.$error.max">
					* Income Share must be between 0 and 100.
				</p>

				<p class="validation" ng-show="addAccount.share.$dirty && addAccount.share.$error.nlShare">
					* Requested income share exceeds the available share.
				</p>

			</div>
			<button class="button button-full button-reflection" type="reset" ng-click="vm.close(addAccount)">Cancel</button>
			<button class="button button-full button-balanced" type="submit">Confirm</button>
		</form>
	</ion-content>
</ion-modal-view>