<ion-modal-view class="nl-modal" ng-controller="DepositModalController as vm">
	<ion-header-bar class="bar-balanced">
	  <h1 class="title">Deposit</h1>
	</ion-header-bar>
	<ion-content>
		<form name="depositForm" ng-submit="depositForm.$valid && vm.submit(depositForm)" novalidate>
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Mount</span>
			    <input type="number" name="mount" placeholder="0.0" min="0" ng-model="vm.mount">
			  </label>
			</div>
			<div class="validation-group" ng-show="depositForm.$submitted && depositForm.$invalid">

				<p class="validation" ng-show="depositForm.mount.$dirty && depositForm.mount.$error.min">
					* Mount must be a positive amount.
				</p>

				<p class="validation" ng-show="depositForm.mount.$dirty && !depositForm.mount.$error.min && depositForm.mount.$invalid">
					* Income Share field has invalid character(s).
				</p>

			</div>
			<button class="button button-full button-reflection" ng-click="vm.close(depositForm)">Cancel</button>
			<button class="button button-full button-balanced" type="submit">Confirm</button>
		</form>
	</ion-content>
</ion-modal-view>